$dark-color-theme: #2A2826;
$font-default-color: white;

.btn-danger {
  border: none;
}

html, body{
  background-color: $dark-color-theme;
  h1, h2, h3, h4, h5 {
    color: $font-default-color;
  }
  p {
    color: $font-default-color;
  }

  .loading {
    background: url('/../loading.gif') no-repeat center center;
    background-size: contain;
    height: 200px;
  }
  section {
      opacity: 0;
      -webkit-transition:opacity .6s;
      -moz-transition:opacity .6s;
      -o-transition:opacity .6s;
      transition: opacity .6s;
  }
  .loaded section {
    opacity: 1;
  }
}
